* {
  box-sizing: border-box;
  font-family: $font-main;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  transition: $trans;
}

body {
  cursor: url('../images/cursor.png'), auto;
}

::selection {
  color: $orange1;
  background-color: $orange4;
}
