// fonts
$font-main: 'Roboto', sans-serif;
$defaultFontSize: 16;

// colors
$green: #a8e77d;
$green1: #70c836;
$green2: #008182;
$green3: #004646;
$orange1: #ffc863;
$orange2: #f89958;
$orange3: #f68a1f;
$orange4: #f26722;
$bg: #fff9d5;

// transitions

$trans: all 0.8s ease;
