.footer {
  width: 100%;
  height: rem(50);
  padding: rem(20);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  animation: flyInTop 1.5s 1;
  &__span {
    color: $orange4;
    &--link {
      cursor: url('../images/cursors/cursor_hand2.png'), auto;
      color: $green2;
      transition: none;
      &:hover {
        padding-bottom: rem(5);
        border-bottom: rem(2) $green2 solid;
      }
    }
  }
  &__italic {
    font-style: italic;
  }
  @include tablet {
    position: fixed;
    bottom: 0;
  }
}
