.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    @include flexCenter {
      flex-direction: column;
    }
  }
  &__title {
    height: rem(40);
    @include tablet {
      height: rem(100);
    }
  }
  &__img {
    width: rem(300);
    margin: rem(10);
    @include tablet {
      width: rem(600);
      margin: rem(20);
    }
  }
  &__text {
    font-size: rem(18);
    color: $green2;
    margin: rem(10) auto;
    @include tablet {
      font-size: rem(30);
      margin: rem(20) auto;
    }
  }
  animation: fly-on-top 1.5s 1;
}

@keyframes fly-on-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.carrot {
  @include desktop {
    &_A {
      cursor: url('../images/cursor_rabbit.png'), auto;
      position: absolute;
      left: 0;
      top: 0;
      width: rem(80);
      height: rem(100);
      margin: rem(30);
      background-image: url('.././images/carrot_a.svg');
      background-repeat: no-repeat;
      animation: carrot_A_C 0.4s 4;
      transition: $trans;
      &:hover {
        transform: rotate(-360deg);
      }
    }
    &_B {
      cursor: url('../images/cursor_rabbit.png'), auto;
      position: absolute;
      right: 0;
      top: 0;
      width: rem(80);
      height: rem(100);
      margin: rem(30);
      background-image: url('.././images/carrot_b.svg');
      background-repeat: no-repeat;
      animation: carrot_B_D 0.4s 4;
      transition: $trans;
      &:hover {
        transform: rotate(360deg);
      }
    }
    &_C {
      cursor: url('../images/cursor_rabbit.png'), auto;
      position: absolute;
      right: 0;
      bottom: 0;
      width: rem(80);
      height: rem(100);
      margin: rem(30);
      background-image: url('.././images/carrot_c.svg');
      background-repeat: no-repeat;
      animation: carrot_A_C 0.4s 4;
      transition: $trans;
      &:hover {
        transform: rotate(-360deg);
      }
    }
    &_D {
      cursor: url('../images/cursor_rabbit.png'), auto;
      position: absolute;
      left: 0;
      bottom: 0;
      width: rem(80);
      height: rem(100);
      margin: rem(30);
      background-image: url('.././images/carrot_d.svg');
      background-repeat: no-repeat;
      animation: carrot_B_D 0.4s 4;
      transition: $trans;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
}
@keyframes carrot_A_C {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes carrot_B_D {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
