.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    @include flexCenter {
      flex-direction: column;
    }
  }
  &__title {
    height: rem(40);
    @include tablet {
      height: rem(100);
    }
  }
  &__img {
    width: rem(300);
    margin: rem(10);
    @include tablet {
      width: rem(600);
      margin: rem(40);
    }
  }
  &__text {
    font-size: rem(18);
    color: $green2;
    margin: rem(10) auto;
    @include tablet {
      font-size: rem(30);
      margin: rem(20) auto;
    }
  }
  animation: fly-on-top 1.5s 1;
}

@keyframes fly-on-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.carrot {
  @include desktop {
    &_A {
      cursor: url('../images/cursors/cursor_rabbit2.png'), auto;
      position: absolute;
      left: 0;
      top: 0;
      width: rem(80);
      height: rem(100);
      margin: rem(30);
      background-image: url('.././images/carrots/carrot_a.svg');
      background-repeat: no-repeat;
      animation: carrot_A_C 0.4s 2;
      transition: $trans;
      &:hover {
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      }
    }
    &_B {
      cursor: url('../images/cursors/cursor_rabbit2.png'), auto;
      position: absolute;
      right: 0;
      top: 0;
      width: rem(80);
      height: rem(100);
      margin: rem(30);
      background-image: url('.././images/carrots/carrot_b.svg');
      background-repeat: no-repeat;
      animation: carrot_B_D 0.4s 2;
      transition: $trans;
      &:hover {
        animation: shake2 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      }
    }
    &_C {
      cursor: url('../images/cursors/cursor_rabbit2.png'), auto;
      position: absolute;
      right: 0;
      bottom: 0;
      width: rem(80);
      height: rem(100);
      margin: rem(30);
      background-image: url('.././images/carrots/carrot_c.svg');
      background-repeat: no-repeat;
      animation: carrot_A_C 0.4s 2;
      transition: $trans;
      &:hover {
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      }
    }
    &_D {
      cursor: url('../images/cursors/cursor_rabbit2.png'), auto;
      position: absolute;
      left: 0;
      bottom: 0;
      width: rem(80);
      height: rem(100);
      margin: rem(30);
      background-image: url('.././images/carrots/carrot_d.svg');
      background-repeat: no-repeat;
      animation: carrot_B_D 0.4s 2;
      transition: $trans;
      &:hover {
        animation: shake2 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      }
    }
  }
}
@keyframes carrot_A_C {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes carrot_B_D {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake2 {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
