.main {
  @include flexCenter;

  &__grid {
    cursor: url('../images/cursors/cursor_question2.png'), auto;
    @include flexCenter;
    flex-wrap: wrap;
    max-width: rem(350);
    animation: flyInLeft 2s 1;
    &-img {
      width: rem(70);
      margin: rem(5);
      border: rem(4) solid $green1;
      border-radius: rem(10);
      box-shadow: rem(2) rem(2) rem(4) rem(1) $green2;
      transition: $trans;
      &:hover {
        transform: scale(1.05);
      }
      @include tablet {
        width: rem(100);
      }
    }
    @include tablet {
      max-width: rem(700);
    }
  }
}

.ales.flip {
  transform: rotateY(180deg);
}

.btn {
  cursor: url('../images/cursors/cursor_reset2.png'), auto;
  font-size: rem(18);
  font-weight: bold;
  color: $green3;
  border: rem(4) solid $orange4;
  border-radius: rem(10);
  background-color: $orange3;
  margin: rem(10) auto;
  transition: $trans;
  animation: flyInLeft 2.2s 1;
  &:hover {
    background-color: $orange2;
    border: rem(4) solid $orange3;
    color: $green2;
  }
  &__icon {
    font-size: rem(20);
    padding: rem(5);
    transition: $trans;
    &:hover {
      transform: rotate(360deg);
      color: $green2;
    }
    @include tablet {
      font-size: rem(30);
      padding: rem(10);
    }
  }
}
